@import url("https://fonts.googleapis.com/css?family=Open+Sans");

/* Styles */
/*
RED
#e70712
BLACK
#141414
*/
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Open Sans";
  font-size: 14px;
  padding: 5px;
}

.container {
  width: 350px;
  margin: 25px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

form {
  padding: 20px;
  background: #141414;
  color: #fff;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}
form label,
form input,
form button {
  border: 0;
  margin-bottom: 3px;
  display: inline-block;
  width: 100%;
}
form input {
  height: 25px;
  line-height: 25px;
  background: #fff;
  color: #000;
  padding: 0 6px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
form button {
  height: 30px;
  line-height: 30px;
  background: #e70712;
  color: #fff;
  margin-top: 10px;
  cursor: pointer;
}

form button:hover {
	background: #f12;
}

form .error {
  color: #ff0000;
}

#stats {
	
}

#stats > * {
	display: block;
	position: relative;
	
}

button {
	padding: 2px;
}

ul {
	list-style-type: none;
}

canvas {
	border: 2px solid #333;
}
.textbar {
	width: 55px;
}
.tooltipIcon {
	display: inline-block;
	position: relative;
	top: 0;
	right: 0;
	width: 12px;
	height: 12px;
	background-image: url("../tooltipIcon_light.png");
	background-size: 12px 12px;
}

/* .tooltipText styling based on W3's tooltip example */
.tooltipIcon .tooltipText {
	visibility: hidden;
	width: 200px;
	background-color: #333;
	color: #fff;
	text-align: center;
	border-radius: 3px;
	padding: 5px;
	position: absolute;
	z-index: 1;
	top: -50px;
	left: 110%;
}

.tooltipText::after {
	content: "";
	position: absolute;
	top: 50%;
	right: 100%; /* To the left of the tooltip */
	margin-top: -5px;
	border-width: 5px;
	border-style: solid;
	border-color: transparent #333 transparent transparent;
}

.tooltipIcon:hover .tooltipText {
	visibility: visible;
}

.indent {
	margin-left: 25px;
}

.dark {
	display: inline-block;
	background: #141414;
	color: #fff;
	padding: 10px;
	margin: 0 25px 25px 25px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.dark > * {
	display: inline;
	padding: 2px;
}

.floatContainer > * {
	float: left;
}

/* lmao */
.noFloat {
	float: none;
}

.block {
	display: block;
}

.blockContainer > * {
	display: block;
}

.feedback {
	display: inline-block;
	position: relative;
	width: 14px;
	height: 14px;
	background-image: url("../img/dash.png");
	background-size: 14px 14px;
	
	float:right;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    height: 20px;
	width: 100%;
    padding-top: 3px;
    padding-bottom: 3px;
    background-color: #141414;
    color: white;
	text-align: center;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

h1{
	padding-left: 3px;
}
h3{
	padding-left: 5px;
}

a.one:link {color:#fff; text-decoration: none;}
a.one:visited {color:#fff; text-decoration: none;}
a.one:hover {color:gray; text-decoration: none;}

a.homeLink:link {color: #fff; text-decoration: none;}
a.homeLink:visited {color: #fff; text-decoration: none;}
a.homeLink:hover {color:#141414; text-decoration: none;}

.homeLogo {
	background-image: url("../img/dnd_header.png");
	background-size: 750px 120px;
	background-repeat:no-repeat;	
	color: #fff;
	padding-top: 34px;
	width: 750px;
	height: 120px;
}